.header,
.main,
.footer {
  padding-left: 300px;
}

@media only screen and (max-width : 966px) {

  .header,
  .main,
  .footer {
    padding-left: 0px;
  }
}

#loading{
  z-index: 10;
  position: absolute;
    top: 105%;
    left: 57%;
    transform: translate(-35%, 3500%);
  background-size: 100vh;
}

.dtr-title {
  font-weight: bold !important;
  display: inline !important;
}

.dtr-title::after {
  content: "\a" !important;
  white-space: pre !important;
}

.itc-blue {
  color: #01367a;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  color: white;
  border: 2px solid #01367a;
  border-radius: 16px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  text-indent: 4px;
  line-height: 16px;
  content: '+';
  background-color: #01367a;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before::content,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before::content {
  position: relative;
      top: 50%;
      transform: translateY(-50%);
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  content: '-';
  border: 2px solid #d33333;
  background-color: #d33333;
}

#card-icon {
  font-size: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

#line-spacer {
  margin-bottom: 2.934rem;
}

#project-status-active:after {
  content: 'Active';
}

#project-status-complete:after {
  content: 'Complete';
}

#project-status-attn:after {
  content: 'Attention';
}

#view-project:after {
  content: 'View Project';
}

#user-img {
  margin: 0 auto;
}

/* BUTTON ATTRIBUTES */
#button-text {
  display: inline-block;
  vertical-align: bottom;
}

.btn-itc-blue {
  background-color: #01367a;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  background: transparent !important;
  background-color: #01367a !important;
  border: 0px !important;
  border-radius: 50% !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  background: transparent !important;
  background-color: #01367a !important;
  border: 0px !important;
  border-radius: 50% !important;
}

#submittal-table_previous:hover {
  color: #dadce0 !important;
  background: transparent !important;
  background-color: transparent !important;

}

#submittal-table_next:hover {
  color: #dadce0 !important;
  background: transparent !important;
  background-color: transparent !important;
}

.btn-itc-blue:hover {
  background-color: #01367a;
}

.btn-itc-blue:enabled {
  background-color: #01367a;
}

/* INPUT ATTRIBUTES */
.input-field input[type=text]:focus+label {
  color: #01367a !important;
}

input[type=search]:focus+label {
  color: #01367a !important;
}

.input-field input[type=email]:focus+label {
  color: #01367a !important;
}

.input-field textarea:focus+label {
  color: #01367a !important;
}

.input-field option:focus+label {
  color: #01367a !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #01367a !important;
  box-shadow: 0 1px 0 0 #01367a !important;
}

input[type=search]:focus {
  border-bottom: 1px solid #01367a !important;
  box-shadow: 0 1px 0 0 #01367a !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #01367a !important;
  box-shadow: 0 1px 0 0 #01367a !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #01367a !important;
  box-shadow: 0 1px 0 0 #01367a !important;
}

[type="radio"]:checked+span:before {
  border: 2px solid #01367a !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #01367a !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid #01367a !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: black !important;
}