.header,
.main,
.footer {
  padding-left: 300px;
}

@media only screen and (max-width: 966px) {
  .header,
  .main,
  .footer {
    padding-left: 0px;
  }
}

#card-icon {
  font-size: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#line-spacer {
  margin-bottom: 2.934rem;
}

#project-status-active:after {
  content: 'Active';
}

#project-status-complete:after {
  content: 'Complete';
}

#project-status-attn:after {
  content: 'Attention';
}

#view-project:after {
  content: 'View Project';
}

#user-img {
  margin: 0 auto;
}

/* BUTTON ATTRIBUTES */
#button-text {
  display: inline-block;
  vertical-align: bottom;
}

.btn-itc-blue {
  background-color: #01367a;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  background: transparent !important;
  background-color: #01367a !important;
  border: 0px !important;
  border-radius: 50% !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  background: transparent !important;
  background-color: #01367a !important;
  border: 0px !important;
  border-radius: 50% !important;
}

#submittal-table_previous:hover {
  color: #dadce0 !important;
  background: transparent !important;
  background-color: transparent !important;
}

#submittal-table_next:hover {
  color: #dadce0 !important;
  background: transparent !important;
  background-color: transparent !important;
}

.btn-itc-blue:hover {
  background-color: #01367a;
}

.btn-itc-blue:enabled {
  background-color: #01367a;
}

/* INPUT ATTRIBUTES */
.input-field input[type=text]:focus + label {
  color: #01367a !important;
}

input[type=search]:focus + label {
  color: #01367a !important;
}

.input-field input[type=email]:focus + label {
  color: #01367a !important;
}

.input-field textarea:focus + label {
  color: #01367a !important;
}

.input-field option:focus + label {
  color: #01367a !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #01367a !important;
  -webkit-box-shadow: 0 1px 0 0 #01367a !important;
          box-shadow: 0 1px 0 0 #01367a !important;
}

input[type=search]:focus {
  border-bottom: 1px solid #01367a !important;
  -webkit-box-shadow: 0 1px 0 0 #01367a !important;
          box-shadow: 0 1px 0 0 #01367a !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #01367a !important;
  -webkit-box-shadow: 0 1px 0 0 #01367a !important;
          box-shadow: 0 1px 0 0 #01367a !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #01367a !important;
  -webkit-box-shadow: 0 1px 0 0 #01367a !important;
          box-shadow: 0 1px 0 0 #01367a !important;
}

[type="radio"]:checked + span:before {
  border: 2px solid #01367a !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #01367a !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #01367a !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: black !important;
}
/*# sourceMappingURL=style.css.map */